<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="NetIDE"
            id="eu.netide.debug">
      </category>
      <view
            name="NetIDE Debugger View"
            icon="icons/netide-debug.png"
            category="eu.netide.debug"
            class="eu.netide.debug.views.DebugView"
            id="eu.netide.debug.views.DebugView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
