<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="NetIDE ChartView"
            id="ChartView">
      </category>
      <view
            category="ChartView"
            class="eu.netide.chartview.view.ChartView"
            id="eu.netide.chartview.views.ChartView"
            name="Port Statistics"
            restorable="false">
      </view>
      <view
            category="ChartView"
            class="eu.netide.chartview.view.ChartViewAggregatedStats"
            id="eu.netide.chartview.views.ChartViewAggregatedStats"
            name="Aggregated Statistics"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.netide.perspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="chartview.views.ChartView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
