<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu">
         <menu
               icon="icons/netide.png"
               id="eu.netide.parameter.templates.contribution"
               label="NetIDE">
            <command
                  commandId="eu.netide.parameters.templates.copy"
                  id="eu.netide.parameters.templates.copy.menu"
                  label="Copy to Templates"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="true"
                           operator="or">
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.netide.parameters.templates.render"
                  id="eu.netide.parameters.templates.render.menu"
                  label="Render Templates"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="true"
                           operator="or">
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.netide.parameters.templates.configureparams"
                  id="eu.netide.parameters.templates.configureparams.menu"
                  label="Configure Parameters"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="true"
                           operator="or">
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.netide.parameters.templates.gui.ConfigureParametersHandler"
            id="eu.netide.parameters.templates.configureparams"
            name="Configure Parameters">
      </command>
      <command
            defaultHandler="eu.netide.parameters.templates.RenderHandler"
            id="eu.netide.parameters.templates.render"
            name="Render Template">
      </command>
      <command
            defaultHandler="eu.netide.parameters.templates.copy.CopyHandler"
            id="eu.netide.parameters.templates.copy"
            name="Copy to Templates">
      </command>
   </extension>

</plugin>
