<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="eu.netide.runtime.topology.design.Activator"
               id="RuntimeTopology.design"
	       name="Configuration">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.viewpointSpecificationModel">
     <definition
           path="description/RuntimeTopology.odesign">
        <matcher
              extension="eu.netide.runtime.topology.design.matcher1">
        </matcher>
     </definition>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
  </extension>
</plugin>
