<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.netide.configuration.preferences.NetIDEPreferences"
            id="eu.netide.configuration.preferences.NetIDEPreferences"
            name="NetIDE">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.netide.configuration.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
