<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.netide.configuration.generator.generatorcontribution"
            objectClass="Topology.NetworkEnvironment">
         <action
               class="eu.netide.configuration.generator.GenerateActionDelegate"
               id="eu.netide.configuration.generator.generatoraction"
               label="Generate Mininet Configuration">
         </action>
      </objectContribution>
   </extension>
</plugin>
