<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="TopoQuery" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:TopoQuery" id="TopoQuery">
      <query-specification fqn="core1_379235230Constrain"/>
      <query-specification fqn="connection_966911792Constrain"/>
      <query-specification fqn="connection_1962476817Constrain"/>
      <query-specification fqn="connection_1879721881Constrain"/>
      <query-specification fqn="connection_57615622Constrain"/>
      <query-specification fqn="connection_893508156Constrain"/>
      <query-specification fqn="connection_162304008Constrain"/>
      <query-specification fqn="connection_725104683Constrain"/>
      <query-specification fqn="connection_1359310687Constrain"/>
      <query-specification fqn="connection_1781452665Constrain"/>
      <query-specification fqn="connection_133115620Constrain"/>
      <query-specification fqn="connection_1845278546Constrain"/>
      <query-specification fqn="connection_402211365Constrain"/>
      <query-specification fqn="connection_187695780Constrain"/>
      <query-specification fqn="connection_1976997160Constrain"/>
      <query-specification fqn="connection_2107177703Constrain"/>
      <query-specification fqn="connection_539850523Constrain"/>
      <query-specification fqn="connection_730035352Constrain"/>
      <query-specification fqn="connection_1782434581Constrain"/>
      <query-specification fqn="connection_1355303799Constrain"/>
      <query-specification fqn="connection_454454234Constrain"/>
      <query-specification fqn="connected"/>
      <query-specification fqn="matchTopology"/>
    </group>
  </extension>
</plugin>
